@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom classes (optional) */
html, body {
  @apply font-poppins bg-gray-100 text-gray-800;
}


/* @keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.5s ease-out both;
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out both;
} */
